:root {
    --main-color: #7268CF;
    --main-text-color: #746EF4;
    --point-color: #33C686;
    --sub-text-color: #808080;
    --sub-text2-color: #565656;
    --sub-text-bold-color: #333;
    --stroke-color: #BCBCBC;
    --box-bg-color: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
    background-color: #fff;
}

body {
    min-width: 900px;
    margin: auto;
}
