* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
    background-color: #fff;
}

/* logo 폰트 */
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    max-width: 1280px;
    min-width: 900px;
    margin: auto;
}
